<h1>List Items</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% items.each do |item| %>
    <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><a href="/items/<%= item.id %>/detail"><button>Show</button></a></td>
    </tr>
    <% end %>
</table>
<button><a href="/items/create">Add New Item</a></button>
     