<h1>Edit</h1>

<form method="POST" action="/items/create">
<label>Item Name</label>
    <input type="text" name="name" id="name" /><br>
    <label>Item Price</label>
    <input type="text" name="price" id="price" /><br>
    <button type="submit">Update Item</button>
</form>